$breakpoint-tablet: 900px;
$breakpoint-mobile: 480px;

.checkItem{
    margin-right: 3rem;
    margin-bottom: 0.8rem;
}

.checkContainer{
    display: grid;
    grid-template-columns: auto auto auto;

    @media(max-width:$breakpoint-tablet){
        grid-template-columns: auto auto;   
    }
}

.checkLabel{

    @media(max-width:$breakpoint-tablet){
        padding: 1rem;
    }
}
