$breakpoint-tablet: 900px;

.collapase.show{
    display: block;
}

.collapase.hide{
    display: none;
}

.filterIcon{
    cursor: pointer;
}

.expandWrapper{

    @media(max-width:$breakpoint-tablet){
        padding-right: 1rem;
        padding-left: 1rem;
    }
}