.collapase.show {
  display: block; }

.collapase.hide {
  display: none; }

.filterIcon {
  cursor: pointer; }

@media (max-width: 900px) {
  .expandWrapper {
    padding-right: 1rem;
    padding-left: 1rem; } }
